* {padding: 0; margin: 0; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
    width: 100%;
    margin: auto;
}
a{text-decoration: none;}
.container{
    width: 1100px;
    margin: auto;
    overflow: hidden;
}
/* -------------------- H E A D E R -------------------- */
header{
    float: left;
    height: 90px;
    background: white;
    height: 100px;
    line-height: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 5%);
    width: 100%;
    z-index: +1;
    position: fixed;
    z-index: +100;
}
.logo img{
    float: left;
    height: 70px;
    margin-top: 15px;
    margin-left: 20px;
}
.logo h1{
    float: left;
    font-size: 20px;
    margin: 35px 11px 0 0;
    line-height: 30px;
    padding-right: 25px;
    border-right:solid 1px rgba(0, 0, 0, 0.075);
}
/* Dropdown Menu ------------------------------------------*/
menu{
    position: relative;
    float: left;
    width: 550px;
}
menu ul li{
    float: left;
    list-style: none;
}
menu ul li a{
    font-size: 14px;
    text-decoration: none;
    margin: 0 20px;
    color: black;
}
menu img{
    height: 10px;
}
menu ul li a:hover{
    color: rgb(8, 183, 203);
}
menu ul li a:hover img{
    filter: invert(56%) sepia(98%) saturate(1193%) hue-rotate(142deg) brightness(90%) contrast(94%);
}
menu ul li ul{
    opacity: 0;
    visibility: hidden;
    transition:all 0.2s ease-in;
    position: absolute;
    line-height: 40px;
    background: white;
    margin-top: -20px; 
    margin-left: 20px;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.119);
}
menu ul li ul li{
    position: relative;
    float: none;
}
menu ul li:hover > ul{
    visibility: visible;
    opacity: 1;
    margin-top: -15px;
    z-index: +1;
}
/* Phone Contact ----------------------------------------- */
header .contacts{
    float: right;
    width: 400px;
}
header .phonecontact img{
    float: left;
    height: 15px;
    margin: 42px 10px 0 0;
}
header .phonecontact p{
    float: left;
    font-size: 11px;
    margin: 35px 11px 0 0;
    line-height: 30px;
    padding-right: 25px;
    border-right: solid 1px rgba(0, 0, 0, 0.075);
}
/* Contact Icons ----------------------------------------- */
header .contact img{
    height: 15px;
}
header .contact ul li{
    list-style: none;
    float: left;
    line-height: 15px;
    margin: 41px 11px 0 11px;
}
header .contact ul li ul{
    display: none;
    position: absolute;
    top: 0px;
    margin-left: -11px;
    line-height: 20px;
}
header .contact ul li ul li{
    position: relative;
}
header .contact ul li:hover ul{
    display: block;
}
/* Search ------------------------------------------------ */
header .search{
    background: #ff6703;
    width: 75px;
    float: right;
    height: 101px;
}
header .search img{
    height: 20px;
    margin-top: 38px;
    margin-left: 27px;
}
/* -------------------- A R T I C L E -------------------- */
.section1{
    float: left;
    width: 100%;
    height: 550px;
    position: relative;
    margin-top: 100px;
}
.section1_img{
    position: absolute;
    width: 100%;
    height: 550px;
}
article .section1 img{
    float: left;
    width: 100%;
    height: 550px;
    object-fit: cover;
    filter: brightness(80%);
}
/* imagetext ------------------*/
.imagetext{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
}
.imagetext h1{
    font-size: 100px;
    margin-bottom: 10px;
    cursor: default;
}
.imagetext p{
    font-size: 20px;
    margin-bottom: 50px;
    cursor: default;
}
iframe{
    margin: 120px 0 100px 0;
}
/* left ------------------------------------------------ */
article .left{
    width: 750px;
    float: left;
    margin-bottom: 100px;
}
article .left h1{
    font-weight: bolder;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
article form{
    float: left; 
}
::placeholder{
    color: rgba(128, 128, 128, 0.422);
}
article .left textarea, input{
    float: left;
    padding: 15px 10px;
    border: solid 1px rgba(185, 185, 185, 0.232);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
}
article .left textarea{
    width: 700px;
}
article #name, #email{
    width: 327.5px;
}
article #subject{
    width: 628px;
}
article .left textarea:focus {
    outline: none;
}
button{
    padding: 10px;
    color: white;
    background: red;
    border: none;
    width: 100px;
    margin-top: 10px;
    border-radius: 1px;
}
button:hover{
    background: #ff6703;
}
article .right{
    float: left;
    width: 310px;
    margin-left: 40px;
    padding-top: 45px;
}
/* right ----------------------------------------------- */
.box{
    float: left;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 50px;
}
.box img{
    float: left;
    width: 30px;
    filter: grayscale(50%);
    margin-top: 7.5px;
    margin-right: 20px;
}
.box .boxtext{
    float: left;
    line-height: 25px;
}
.box h1{
    font-size: 15px;
}
.box p{
    color: gray;
}
/* -------------------- F O O T E R -------------------- */
footer{
    float: left;
    height: 540px;
    width: 100%;
    color: gray;
    background: #1d1822;
}
footer .container{
    /* border-image: linear-gradient(to left, #743ad5, #d53a9d) 1; 
    border-style: solid;
    border-width: 1px; */
    height: 480px;
    margin-bottom: 10px;
    border-bottom: solid 1px gray;
}
footer p{
    font-size: 14px;
}
footer h1{
    color: white;
}
footer a{
    color: gray;
}
footer a:hover{
    color: #ff6703;
}
/* Left ----------------------------------------------- */
footer .left{
    float: left;
    width: 260px;
    height: 500px;
}
footer .left .logo{
    margin: 80px 0 20px 0;
}
footer .left img{
    height: 60px;
    margin: 7.5px 5px 0 0;
}
footer .left h1{
    float: none;
    font-size: 26px;
    line-height: 75px;
    margin: 0;
}
footer .left p{
    float: left;
    text-align: left;
    line-height: 24px;
}
footer .contact{
    float: left;
}
footer .contact img{
    float: left;
    margin: 40px 10px;
    height: 15px;
}
footer .contact a:hover img{
    filter: invert(69%) sepia(67%) saturate(6064%) hue-rotate(355deg) brightness(96%) contrast(112%);
}
/* Right ----------------------------------------------- */
footer .right{
    float: left;
    margin-left: 120px;
    width: 710px;
    height: 500px;
}
footer .right h1{
    font-size: 20px;
    margin: 100px 0px 35px 0;
}
footer .right p{
    text-align: left;
    margin: 0;
    line-height: 35px;
}
footer .right .one, .two{
    float: left;
    margin-right: 100px;
}
footer .two .column{
    float: left;
    margin-right: 70px;
}
footer .two{
    margin-right: 10px;
}
footer .footergallery{
    float: left;
    width: 232px;
}
footer .footergallery img{
    height: 65px;
    width: 65px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 8.5px;
    margin-bottom: 5px;
}
/* Bottom --------------------------------------------- */
footer .bottom{
    float: left;
}
.copyright{
    float: left;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}